.modalLabels {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #5e5e5e;
}

.modalInputs {
  width: 100%;
  padding: 5px 20px 5px 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #363636;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}

.modalGoogleBtn {
  background: #ffffff;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.07);
  border-radius: 37px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  width: 100%;
  outline: none;
}

.modalFbBtn {
  background: #4267b2;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.07);
  border-radius: 37px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  outline: none;
}

.modalContent {
  border-radius: 15px;
  border: none;
}

.mostrarContraseña {
  font-size: 19px;
  position: absolute;
  right: 70px;
}

.centertext {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.modalInputs2 {
  width: 100%;
  padding: 5px 20px 5px 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #363636;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
}

.mostrarContraseña2 {
  font-size: 19px;
  position: absolute;
  right: 395px;
  cursor: pointer;
}

.formBody {
  width: 40%;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin: 40px;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}

.formGroup {
  margin-top: 30px;
}

.formGroup2 {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 70px;
}

.primary {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(90deg, #e43d22 0%, #e65a1f 100%);
  border: none;
  border-radius: 40px;
  padding: 14px 18px 14px 18px;
  text-decoration: none;
  text-align: center;
}

.primary2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(90deg, #e43d22 0%, grey 100%);
  border: none;
  border-radius: 40px;
  padding: 14px 18px 14px 18px;
  text-decoration: none;
  text-align: center;
}