.PaqIndivi {
  background: rgb(0, 65, 196);
  background: linear-gradient(
    45deg,
    rgba(0, 65, 196, 1) 5%,
    rgba(56, 179, 255, 1) 100%
  );
}
.PaqBasic {
  background: rgb(24, 107, 16);
  background: linear-gradient(
    45deg,
    rgba(24, 107, 16, 1) 0%,
    rgba(24, 149, 0, 1) 100%
  );
}
.PaqInter {
  background: rgb(255, 147, 0);
  background: linear-gradient(
    45deg,
    rgba(255, 147, 0, 1) 0%,
    rgba(255, 207, 19, 1) 100%
  );
}
.PaqAvanza {
  background: rgb(86, 0, 149);
  background: linear-gradient(
    45deg,
    rgba(86, 0, 149, 1) 0%,
    rgba(181, 0, 228, 1) 100%
  );
}

.refCard {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(201, 201, 201, 0.308);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
}
.paqueteBG {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.paqueteNombre {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 25px;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.refCardContenido {
  padding: 20px;
}
.TituloCard {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}
.labelsCard {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  color: rgb(95, 95, 95);
  line-height: 22px;
}
.contentCard {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: rgb(54, 54, 54);
}
.btnClose {
  border: none;
  background: none;
}
.btnClose:hover {
  color: rgb(182, 0, 0);
}
.btnAp {
  border: 2px solid #7149bc;
  background-color: white;
  border-radius: 40px;
  padding: 5px 45px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #7149bc;
  transition: 250ms;
}
.btnAp:hover {
  background-color: #7149bc;
  color: white;
  font-weight: 600;
  transition: 250ms;
}

.btnTicket{
  border: 2px solid #7149bc;
  background-color: white;
  border-radius: 40px;
  padding: 5px 25px;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #7149bc;
  transition: 250ms;
}
.btnTicket:hover {
  background-color: #7149bc;
  color: white;
  font-weight: 600;
  transition: 250ms;
}

.tablaRef {
  border-radius: 15px;
  background-color: white;
  border: 0.5px solid rgba(218, 218, 218, 0.349);
  border: 1px solid rgba(201, 201, 201, 0.308);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
}
.headerRef {
  padding: 10px 1.5rem;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  border-bottom: 0.5px solid rgba(218, 218, 218, 0.349);
}
.rowT {
  border-bottom: 0.5px solid rgba(218, 218, 218, 0.349);
}
.rowT:hover {
  background-color: #d6d6d621;
}
.headersT {
  padding: 15px 1.5rem;
  background-color: #d6d6d621;
  font-family: "Open Sans";
  font-weight: bold;
  color: #7149bc;
}
.contentT {
  padding: 15px 1.5rem;
  font-family: "Open Sans";
  font-size: 15px;
  color: grey;
}
.contentDates {
  font-family: "Open Sans";
  font-size: 15px;
  color: grey;
}
.btnT1,
.btnT2 {
  border: 1px solid rgba(201, 201, 201, 0.308);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: white;
  transition: 250ms;
}
.btnT1:hover {
  background-color: #7149bc;
  color: white;
  transition: 250ms;
}
.btnT2:hover {
  background-color: tomato;
  color: white;
  transition: 250ms;
}

@media (max-width: 1075px) {
  .paqueteNombre {
    transform: rotate(-90deg);
  }
}
@media (max-width: 767px) {
  .paqueteNombre {
    transform: rotate(0deg);
    position: relative;
    transform: none;
    top: auto;
    padding: 50px 0;
  }
  .paqueteBG {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .refCardContenido {
    padding-left: 8vw;
  }
}

.filtros {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(201, 201, 201, 0.308);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.props {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(201, 201, 201, 0.308);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 15px;
}
.totales {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(201, 201, 201, 0.308);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.08);
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  overflow: hidden;
}
.headR {
  background-color: #7149bc;
}
.headR2 {
  background-color: #7149bc;
}
.textHeadR {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-left: 10px;
}
.backprofile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #7149bc;
  overflow: hidden;
  padding: 5px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.imgProfile {
  border-radius: 50%;
}

.etiqueta {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  color: #7149bc;
}
.dato {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  color: #383838;
  padding-left: 7px;
}
.btnProps {
  background-color: white;
  border: 0.5px solid rgba(153, 153, 153, 0.315);
  border-radius: 5px;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.12);
  font-weight: 600;
  /* position: absolute;
  transform: translate(170px, -30px); */
  color: #7149bc;
  transition: 150ms;
  padding: 5px 15px;
  width: auto;
}
.btnProps:hover {
  background-color: #8447f7;
  color: white;
  transition: 150ms;
}

.propbody {
  background: #ffffff;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  overflow: hidden;
}
.propcontainer {
  padding: 10px;
}
.propTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
.propDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5e5e5e;
}
.pLabels {
  border: 1px solid #e65a1f;
  border-radius: 20px;
  padding: 2px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  color: #e65a1f;
}
.imgprop {
  width: 100%;
  height: 100%;
}
.propPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  color: #13a407;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.Ttitle {
  color: white;
  font-family: "Open Sans";
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
}

.CTlabel {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  color: #383838;
}
.CTuser {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: #269604;
}

.colorTotal {
  color: #7149bc;
  font-size: medium;
  font-weight: 700;
}

.titulo {
  font-size: 70px;
  color: #ccc;
  margin: 150px 0;
}

